@import '../../../styles/variables.scss';

.templateContainer {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer {
        width: 30%;
    }
}